{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block css %}
<style>
    .container{
        min-height: 100vh;
    }
</style>
{% endblock css %}
{% block body %}
<div class="container">
    <img src="/static/img/about-us.jpg" alt="loading...." style = "width:100%"></div>

    <p class="text-center" style="font-family: cursive;font-size: larger;">This is a Simple Coding Blog Where The Admin Can Posts Blogs Related to Coding in Various Programming Languages.</p>








</div>

{% endblock body %}