{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block css %}
<style>
    .container{
        min-height: 100vh;
    }
    
</style>
{% endblock css %}
{% block body %}

<div class="container">
    <h1 class="my-3">Welcome to Static Coders Blog</h1>

    {% for blog in blogss %}
    <div class="my-2">
        <h3 class=""><a href="/blogpost/{{blog.slug}}" class="text-dark">{{blog.title}}</a></h3>
        <div class="my-2">
            {{blog.short_desc|slice:245}}...
        </div>
        <a href="/blogpost/{{blog.slug}}"><button class="btn btn-outline-primary">Read More...</button></a>
    </div>
    


    <br>
    {% endfor %}


</div>



{% endblock body %}
